.pxs{
  display: inline-block;
  
} 
.img{
  -webtransition: -webkit-transition 0.3;
  transition: -webkit-transform 0.3;
  transition: transform 0.2s; 
  transition: transform 0.2s, -webkit-transform 0.2s;
  border-radius: 20px;
  width: 200px;
  height: 200px;


}
.img:hover{
  -webkit-transform:scale(1.5);
  transform: scale(1.2);